# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Test reports
reports/
test-output/
effective-pom
effective-pom.xml

# Compiled files
*.class

# TestNG
test-output/

# Java
*.class

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# OS
.DS_Store
Thumbs.db